body{
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: white;
    font-family: system-ui;
}

button{
    background: #09F;
    color: #FFF;
    border: 0;
    padding: 4px 8px;
    font-size: 18px;
    cursor: pointer;
}